body{
    
    background-color: rgb(231, 105, 126);

}

h1{
    text-align: center;
}

nav > a{
    color: aliceblue;
    font-size: 14px;
    margin-right: 25px;
}

.imgP{
    width: 200px;
    height: 400px;
}

figure{
    margin: 0%;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
}

.flexContainer1{
    display: flex;
}

.flexContainer2{
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;
}

.divIzquierdo{
    width: 60%;
    height: 200px;
    background-color: rgb(135, 170, 235);    
}

.divDerecho{
    width: 38%;
    height: 200px;
    background-color: rgb(43, 255, 0);
}

.divFondoIzquierdo{
    width: 50%;
}

.imgP{
    width: 40%;
    height: 40%;
}

.imgLogo{
    width: 100px;
    height: 100px;
}

.lorem{
    padding: 0%;
}

#flexContenedor{
    display: flex;
    flex-wrap: wrap;
}

#gridContenedor{
    display: grid;
    grid-template-columns: 30% 30% auto; 
    column-gap: 20px;
    row-gap: 20px;

    grid-template-rows: 100px 400px;
}

#flexContenedor > div{
    width: 30%;
    border: 1px solid red;
    margin-right: 20px;
    margin-bottom: 20px;
}

div#gridContenedor > div{
    width: 30%;
    border: 1px solid blue;
}

#gridArea{
    display: grid;
    grid-template-areas: "Encabezado Encabezado Encabezado Aside" "Encabezado  Intermedio Intermedio Aside" "Encabezado Encabezado Encabezado Aside";
}

#divUno{
    grid-area: encabezado;
    background-color: blueviolet;
}

#divDos{
    grid-area: Intermedio;
    background-color: cornflowerblue;
}

#divTres{
    grid-area: Aside;
    background-color: yellow;
}